*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    background-color: wheat;
    display:flex;
    justify-content: center;
    height: 960px;
}
.allCalculator{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    margin-top: 40px;
    width:600px;
    height: 600px;
    background-color: #243441;
    border:5px solid black;
}
.screen{
    width:500px;
    height: 100px;
    border: 5px solid wheat;
    margin-top: 15px;
    color:wheat;
    font-weight: 900;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
    padding-right: 5px;
    padding-left: 5px;
}
button{
    width:35px;
    height: 25px;
    background-color: #243441;;
    border:2px solid wheat;
    color:white;
}
button:active{
    background-color: wheat;
}